@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Sriracha", cursive;
}

body {
  padding: 100px 0;
  background: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

.wrapper {
  width: 1200px;
  margin: auto;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.item .pic {
  width: 55%;
  flex-shrink: 0;
  vertical-align: middle;
}

.item .text {
  width: 55%;
  padding: 20px 50px;
  flex-shrink: 0;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  transition: 0.5s 0.1s;
}

.item > :first-child {
  margin-right: -10%;
  transition: 0.5s 0.1s;
}

.item:nth-child(1) .text {
  /* background-color: #a8eb12; */
  background-color: rgba(168, 235, 18, 0.7);
  color: #004d7a;
}
.item:nth-child(2) .text {
  /* background-color: #00bf72; */
  background-color: rgba(0, 191, 114, 0.7);
  color: #004d7a;
}
.item:nth-child(3) .text {
  /* background-color: #008793; */
  background-color: rgba(0, 135, 147, 0.7);
  color: rgba(168, 235, 18, 1);
}
.item:nth-child(4) .text {
  /* background-color: #004d7a; */
  background-color: rgba(0, 77, 122, 0.7);
  color: rgba(168, 235, 18, 1);
}

.item:hover > :first-child {
  margin-right: -20%;
}

.item:hover .text {
  color: wheat;
}
