/* reset css */
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.btn,
button,
button:focus,
input:focus,
textarea:focus,
select,
select:focus,
a:focus {
  outline: 0px !important;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

input {
  padding: 0;
}

input:required {
  box-shadow: none;
}

input:invalid {
  box-shadow: none;
}

::-webkit-scrollbar {
  /* make scrollbar transparent */
  width: 0px;
  background: transparent;
}

/* basic setting */
$body-bg: #f8f7fc;
$body-color: #18253d;
$white: #fff;
$main-blue: #001935;
$secondary-blue: #3c88fd;
$freedom-blue: #02b8ff;
$dark-gray: #4a4a4a;
$light-gray: #a7aaaf;

$sizes: (25: 25%,
  50: 50%,
  75: 75%,
  100: 100%);

@each $prop,
$abbrev in (width: w, height: h) {

  @each $num,
  $val in $sizes {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }
  }
}

$spacer: 1rem;
$spacers: (0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: ($spacer * .75),
  4: $spacer,
  5: ($spacer * 1.25),
  6: ($spacer * 1.5),
  7: ($spacer * 1.75),
  8: ($spacer * 2),
);

@each $prop,
$abbrev in (margin: m, padding: p) {

  @each $num,
  $val in $spacers {
    .#{$abbrev}-#{$num} {
      #{$prop}: $val;
    }

    .#{$abbrev}t-#{$num} {
      #{$prop}-top: $val
    }

    .#{$abbrev}r-#{$num} {
      #{$prop}-right: $val
    }

    .#{$abbrev}b-#{$num} {
      #{$prop}-bottom: $val
    }

    .#{$abbrev}l-#{$num} {
      #{$prop}-left: $val
    }

    .#{$abbrev}x-#{$num} {
      #{$prop}-left: $val;
      #{$prop}-right: $val
    }

    .#{$abbrev}y-#{$num} {
      #{$prop}-top: $val;
      #{$prop}-bottom: $val
    }
  }
}

/* mixin */

@mixin getStepnums($num) {
  @for $i from 1 through $num {
    &:nth-child(#{$i}) .circle-container::after {
      content: "#{$i}";
    }
  }
}

/* 使用@each 產出css spacer設定 */

%standard-boxshadow {
  box-shadow: 3px 0 13px 0 rgba(100, 112, 134, 0.1);
}

%input-style {
  border: 1px solid $light-gray;
  border-radius: 5px;
  font-size: 16px;
  padding: 0.5em;

  &:hover,
  &:focus {
    border-color: $dark-gray;
  }
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100%;
  background: $body-bg;
  color: $body-color;
  font-family: "PingFang TC";
}

.d-none {
  display: none;
}

.d-inline {
  display: inline;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.cursor-pointer {
  cursor: pointer;
}

.scrollbar {
  padding-left: 6px;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

/* style start */

#main-app {
  height: 100%;
}

nav {
  width: 60px;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 16px 0;
  background-color: $main-blue;
  z-index: 100;

  a {
    display: block;
    color: $white;
  }

  .menu a {
    margin-bottom: 10px;
  }

  i {
    font-size: 26px;
  }
}

#main-content {
  height: 100%;
  margin-left: 60px;
  display: flex;
}

.card-list-panel {
  height: 100%;
  flex: 0 0 250px;
  background-color: $white;
  @extend %standard-boxshadow;
  z-index: 20;
  overflow-y: scroll;

  .flex-row {
    display: flex;
    align-items: center;
  }

  .card {
    width: 200px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-top: 16px;
    padding: 8px;
    font-size: 14px;
    box-shadow: 0 2px 6px 0 rgba($color: #000000, $alpha: 0.09);
    cursor: pointer;
    opacity: 0.5;

    &:hover,
    &.active {
      opacity: 1;
    }

    &.active {
      border-color: $light-gray;
    }

    i {
      width: 20px;
      font-size: 16px;
      text-align: center;
      margin-right: 5px;

      &.fa-youtube {
        color: #f11502;
      }

      &.fa-facebook-square {
        color: #4177f2;
      }

      &.fa-instagram {
        color: #5b30da;
      }

      &.fa-facebook-square,
      &.fa-instagram {
        font-size: 18px;
      }
    }
  }
}

.right-content {
  flex: 1;
  display: flex;
  flex-flow: column;

  .container {
    width: 80%;
    margin: 0 auto;
  }
}

.stepper-panel {
  height: 120px;

  .stepper-container {
    // width: 80%;
    // margin: 0 auto;
    display: flex;
    padding-top: 40px;
  }

  .step {
    flex: 1;
    text-align: center;
    position: relative;
    @include getStepnums(3);

    .circle-container {
      height: 24px;
      width: 24px;
      background-color: $light-gray;
      border-radius: 50%;
      color: $dark-gray;
      margin: 0 auto;
    }

    .label-container {
      margin-top: 10px;
      color: $light-gray;
    }

    &.checked .circle-container::after {
      content: "\2714";
    }

    &.checked,
    &.active {
      .circle-container {
        background-color: $freedom-blue;
        color: $body-color;
      }

      .label-container {
        color: $body-color;
      }
    }

    .connect-line {
      display: block;
      height: 1px;
      background-color: $light-gray;
      position: absolute;
      // width: 100%;
      top: 12px;
      right: calc(50% + 20px);
      left: calc(-50% + 20px);
    }
  }
}

.form-panel {
  @extend %standard-boxshadow;
  background-color: $white;
  padding: 32px 0;
  overflow-y: scroll;
  flex: 1;

  .form-container {
    height: 100%;

    form {
      height: 100%;
      display: flex;
      flex-flow: column;

      .form-content {
        flex: 1;
      }
    }
  }

  .terms-panel {
    padding: 16px;
    border: 1px solid $light-gray;
    border-radius: 5px;
    max-height: 300px;
    overflow-y: scroll;
  }
}

form {
  .form-row {
    margin-bottom: 24px;

    >label {
      display: block;
      margin-bottom: 6px;
      font-weight: 500;
    }
  }

  input {
    @extend %input-style;

    &[type="checkbox"],
    &[type="radio"] {
      -webkit-appearance: none;
      cursor: pointer;

      ~label {
        display: inline-block;
        font-weight: normal;
        margin: 0;
      }
    }

    &[type="checkbox"] {
      border-radius: 3px;
      position: relative;

      &:checked {
        background-color: $secondary-blue;

        &::after {
          content: '\2714';
          color: $white;
          font-size: 12px;
          position: absolute;
          top: 1px;
          left: 3px;
        }
      }

      &:focus {
        border-color: $light-gray;
      }

      &:hover {
        border-color: $dark-gray;
      }
    }

    &[type="radio"] {
      border-radius: 50%;

      &:checked {
        box-shadow: inset 0 0 0 5px $secondary-blue;
      }

      ~label {
        margin-right: 20px;
      }
    }

    &[type="date"] {
      cursor: pointer;

      &:invalid {
        color: #747474;
      }
    }

    &[type="number"] {
      width: 60px;
    }
  }

  .select-wrapper {
    position: relative;
    width: 185px;
    z-index: 0;

    &::after {
      // content: "\25BE";
      content: "";
      border-style: solid;
      border-width: 6px 5px 0 5px;
      border-color: $light-gray transparent transparent transparent;
      position: absolute;
      top: 50%;
      right: 8px;
      transform: translateY(-50%);
      z-index: -1;
    }
  }

  select {
    @extend %input-style;
    -webkit-appearance: none;
    cursor: pointer;
    width: 100%;
    background-color: transparent;

    &:invalid {
      color: #747477;
    }
  }
}

textarea {
  @extend %input-style;
  resize: none;
  overflow-y: scroll;
}

.btn {
  font-size: 16px;
  border-radius: 5px;
  height: 32px;
  padding: 0 16px;
  box-shadow: 1px 1px 5px #a6a6a6;

  &.btn-primary {
    background-color: $secondary-blue;
    color: $white;
  }

  &.btn-outline {
    color: $dark-gray;
  }

  &:hover {
    box-shadow: 1px 1px 5px $dark-gray;
  }

  &[disabled] {
    opacity: 0.5;
  }
}