/* reset */

*, *::before, *::after {
  box-sizing: border-box
}

html, body {
  width: 100%;
  height: 100%
}

h1, h2, h3, h4, h5 {
  margin: 0;
  line-height: 0.9;
}

p {
  margin: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.action {
  color: white;
  background: #39bae6;
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  transition: all 0.1s linear;
}

.action:hover {
  background: #267c99;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(87, 87, 87, 1);
  -moz-box-shadow: 0px 1px 5px 0px rgba(87, 87, 87, 1);
  box-shadow: 0px 1px 5px 0px rgba(87, 87, 87, 1);
}

/* import font */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap&subset=chinese-traditional"); 

body {
  background-color: #f6f7f8;
  font-family: "Noto Sans TC", sans-serif; 
  font-size: 1rem;
  line-height: 1.4;
  margin: 0;
}

header {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 999;
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
}

/* navbar */
.nav {
  position: absolute;
  top: 100%;
  width: 100%;
  background: #ffffff;
  /* display: none; */
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform .2s ease-out;
}

.navbar-brand {
  color: #267b98;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 60px;
}

.nav-item {
  margin: 1.4rem 0;
  opacity: 0;
}

.nav-link {
  color: #267b98;
}

.navbar-toggle {
  visibility: hidden;
  position: absolute;
}

.navbar-toggle:checked ~ .nav {
  transform: scale(1, 1);
  opacity: 1;
  transition: ;
}

.navbar-toggle:checked ~ .nav .nav-item {
  transition: opacity 0.2s ease-out 0.15s;
  opacity: 1;
}

.navbar-toggle-label {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 7.5%;
  display: flex;
  align-items: center;
}

.hamburger {
  width: 30px;
  height: 3px;
  background: #267b98;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 30px;
  height: 3px;
  background: #267b98;
  position: absolute;
  left: 0; 
  content: "";
}

.hamburger::before {
  position: absolute;
  top: 8px;
}
.hamburger::after {
  position: absolute;
  bottom: 8px;  
}

/* banner */

.banner-wrapper {
  padding-top: 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 250px);
  grid-template-areas: "main main main main" "left left right right";
  grid-gap: 0.5rem;
}

.main-banner {
  grid-area: main;
  background: url("https://picsum.photos/1200/600?random=15") no-repeat center center / cover;
}

.sub-banner-left {
  grid-area: left;
  background: url("https://picsum.photos/1200/600?random=25") no-repeat center center / cover;
}

.sub-banner-right {
  grid-area: right;
  background: url("https://picsum.photos/1200/600?random=35") center center / cover;
}

.main-banner, .sub-banner {
  padding: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

.main-banner .banner-title {
  font-size: 2rem;
  color: #1a5366;
}

.main-banner .banner-description {
  font-size: 1rem;
  font-weight: 600;
  color: #267b98;
}

.main-banner .action,
.sub-banner .action {
  font-size: 1rem;
  padding: 0.25rem 1rem;
  margin-top: 0.8rem;
}

.sub-banner .banner-title,
.sub-banner .banner-description {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.sub-banner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  padding: 1rem;
  background-position: right top;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 768px) {

  /* navbar */
  
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .navbar-toggle-label {
    display: none;
  }

  .nav {
    all: unset;
    grid-column: 3 / 4;
  }

  .nav-item {
    margin: 0;
    opacity: 1;
  }

  .navbar-brand {
    grid-column: 2 / 3;
  }

  .nav-list {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
    grid-gap: 2rem;
  }
  
  /* banner */
  .banner-wrapper {
    grid-gap: 1.5rem;
    grid-template-areas:
      "main main main left"
      "main main main right";
  }

  .main-banner {
    align-items: flex-start;
    justify-content: center;
  }
  .main-banner .banner-title {
    font-size: 4rem;
  }
  .main-banner .banner-description {
    font-size: 2rem;
  }
  .sub-banner .banner-title {
    font-size: 2rem;
  }
  .sub-banner .action {
    font-size: 1.2rem;
  }
}